/* ****************************************************** */
/* ****************** für mobile  ********************** */
.basic-grid {
    display: grid;
    grid: [Zeile1-Start] "header"  100px [Zeile1-Ende]
          [Zeile2-Start] "main"    auto  [Zeile2-Ende]
          [Zeile3-Start] "footer"  100px [Zeile3-Ende]
          / 1fr;
}


header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}


.bento-grid-home {
    display: grid;
    grid: [Zeile1-Start]  "title      " $bentoBoxHeight [Zeile1-Ende]
          [Zeile2-Start]  "room       " $bentoBoxHeight [Zeile2-Ende]
          [Zeile3-Start]  "camping    " $bentoBoxHeight [Zeile3-Ende]
          [Zeile4-Start]  "picture    " $bentoBoxHeight [Zeile4-Ende]
          [Zeile5-Start]  "picture    " $bentoBoxHeight [Zeile5-Ende]
          [Zeile6-Start]  "contact    " $bentoBoxHeight [Zeile6-Ende]
          [Zeile7-Start]  "contact    " $bentoBoxHeight [Zeile7-Ende]
          [Zeile8-Start]  "team       " $bentoBoxHeight [Zeile8-Ende]
          [Zeile9-Start]  "offer      " auto  [Zeile9-Ende]
          [Zeile10-Start] "cafe       " $bentoBoxHeight [Zeile10-Ende]
          [Zeile11-Start] "spirit     " $bentoBoxHeight [Zeile11-Ende]
          [Zeile12-Start] "whitewater " $bentoBoxHeight [Zeile12-Ende]
          / 1fr;


    grid-row-gap: 2*$basicWidth;
    grid-column-gap: 2*$basicWidth;
   
    margin: $basicHeight $basicWidth;
}

.title-bento-box {
    grid-area: title;
}

.contact-bento-box {
    grid-area: contact;
}

.team-bento-box {
    grid-area: team;
}

.room-bento-box {
    grid-area: room;
}

.camping-bento-box {
    grid-area: camping;
}

.picture-bento-box {
    grid-area: picture;
}

.offer-bento-box {
    grid-area: offer;
}

.cafe-bento-box {
    grid-area: cafe;
}

.spirit-bento-box {
    grid-area: spirit;
}

.whitewater-bento-box {
    grid-area: whitewater;
}



.bento-grid-page {
    display: grid;
    grid: [Zeile1-Start]  "title    " $bentoBoxHeight [Zeile1-Ende]
          [Zeile2-Start]  "prices   " $bentoBoxHeight [Zeile2-Ende]
          [Zeile3-Start]  "prices   " $bentoBoxHeight [Zeile3-Ende]
          [Zeile4-Start]  "picture  " $bentoBoxHeight [Zeile4-Ende]
          [Zeile5-Start]  "picture  " $bentoBoxHeight [Zeile5-Ende]
          [Zeile6-Start]  "text1    " $bentoBoxHeight [Zeile6-Ende]
          [Zeile7-Start]  "text2    " $bentoBoxHeight [Zeile7-Ende]
          [Zeile8-Start]  "text3    " $bentoBoxHeight [Zeile8-Ende]
          / 1fr;


    grid-row-gap: 2*$basicWidth;
    grid-column-gap: 2*$basicWidth;
   
    margin: $basicHeight $basicWidth;
}


.title-bento-grid-page {
    grid-area: title;
}

.prices-bento-grid-page {
    grid-area: prices;
}

.picture-bento-grid-page {
    grid-area: picture;
}

.text1-bento-grid-page {
    grid-area: text1;
}

.text2-bento-grid-page {
    grid-area: text2;
}

.text3-bento-grid-page {
    grid-area: text3;
}



 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .bento-grid-home {
        display: grid;
        grid: [Zeile1-Start] "title      title     " $bentoBoxHeight [Zeile1-Ende]
              [Zeile2-Start] "room       camping   " $bentoBoxHeight [Zeile2-Ende]
              [Zeile3-Start] "picture    contact   " $bentoBoxHeight [Zeile3-Ende]
              [Zeile4-Start] "picture    contact   " $bentoBoxHeight [Zeile4-Ende]
              [Zeile5-Start] "team       .         " $bentoBoxHeight [Zeile5-Ende]
              [Zeile6-Start] "offer      offer     " auto            [Zeile6-Ende]
              [Zeile7-Start] "cafe       cafe      " $bentoBoxHeight [Zeile7-Ende]
              [Zeile8-Start] "spirit     spirit    " $bentoBoxHeight [Zeile8-Ende]
              [Zeile9-Start] "whitewater whitewater" $bentoBoxHeight [Zeile9-Ende]
              / 1fr 1fr;

        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
       
        margin: $basicHeight $basicWidth;
    }


    .bento-grid-page {
        display: grid;
        grid: [Zeile1-Start]  "title  title   " $bentoBoxHeight [Zeile1-Ende]
              [Zeile2-Start]  "prices picture " $bentoBoxHeight [Zeile2-Ende]
              [Zeile3-Start]  "prices picture " $bentoBoxHeight [Zeile3-Ende]
              [Zeile4-Start]  "text1  text2   " $bentoBoxHeight [Zeile4-Ende]
              [Zeile5-Start]  "text3  .       " $bentoBoxHeight [Zeile5-Ende]
              / 1fr 1fr;

        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
    
        margin: $basicHeight $basicWidth;
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    .bento-grid-home {
        display: grid;
        grid: [Zeile1-Start] "title    title    contact"    $bentoBoxHeight [Zeile1-Ende]
              [Zeile2-Start] "room     picture  contact"    $bentoBoxHeight [Zeile2-Ende]
              [Zeile3-Start] "camping  picture  team"       $bentoBoxHeight [Zeile3-Ende]
              [Zeile4-Start] "offer    offer    offer"      auto [Zeile4-Ende]
              [Zeile5-Start] "cafe     spirit   whitewater" $bentoBoxHeight [Zeile5-Ende]
              / 1fr 1fr 1fr;

        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
       
        margin: $basicHeight $basicWidth;
    }


    .bento-grid-page {
        display: grid;
        grid: [Zeile1-Start]  "title  title   prices" $bentoBoxHeight [Zeile1-Ende]
              [Zeile2-Start]  "text1  picture prices" $bentoBoxHeight [Zeile2-Ende]
              [Zeile3-Start]  "text2  picture text3"  $bentoBoxHeight [Zeile3-Ende]
              / 1fr 1fr 1fr;

        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
    
        margin: $basicHeight $basicWidth;
    }

    
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
  
 }