/* ****************************************************** */
/* ****************** für mobile  ********************** */
.basic-grid {
    display: grid;
    grid: [Zeile1-Start] "header"  100px [Zeile1-Ende]
          [Zeile2-Start] "main"    auto  [Zeile2-Ende]
          [Zeile3-Start] "footer"  100px [Zeile3-Ende]
          / 1fr;
}


header{
    grid-area: header;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}


.bento-grid-home {
    display: grid;
    grid: [Zeile1-Start]  "title      " 300px [Zeile1-Ende]
          [Zeile2-Start]  "room       " 300px [Zeile2-Ende]
          [Zeile3-Start]  "camping    " 300px [Zeile3-Ende]
          [Zeile4-Start]  "picture    " 300px [Zeile4-Ende]
          [Zeile5-Start]  "picture    " 300px [Zeile5-Ende]
          [Zeile6-Start]  "contact    " 300px [Zeile6-Ende]
          [Zeile7-Start]  "contact    " 300px [Zeile7-Ende]
          [Zeile8-Start]  "team       " 300px [Zeile8-Ende]
          [Zeile9-Start]  "offer      " 50px  [Zeile9-Ende]
          [Zeile10-Start] "cafe       " 300px [Zeile10-Ende]
          [Zeile11-Start] "spirit     " 300px [Zeile11-Ende]
          [Zeile12-Start] "whitewater " 300px [Zeile12-Ende]
          / 1fr;


    grid-row-gap: 2*$basicWidth;
    grid-column-gap: 2*$basicWidth;
   
    margin: $basicHeight $basicWidth;
}

.title-bento-box {
    grid-area: title;
}

.contact-bento-box {
    grid-area: contact;
}

.team-bento-box {
    grid-area: team;
}

.room-bento-box {
    grid-area: room;
}

.camping-bento-box {
    grid-area: camping;
}

.picture-bento-box {
    grid-area: picture;
}

.offer-bento-box {
    grid-area: offer;
}

.cafe-bento-box {
    grid-area: cafe;
}

.spirit-bento-box {
    grid-area: spirit;
}

.whitewater-bento-box {
    grid-area: whitewater;
}



 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .bento-grid-home {
        display: grid;
        grid: [Zeile1-Start] "title      title     " 300px [Zeile1-Ende]
              [Zeile2-Start] "room       camping   " 300px [Zeile2-Ende]
              [Zeile3-Start] "picture    contact   " 300px [Zeile3-Ende]
              [Zeile4-Start] "picture    contact   " 300px [Zeile4-Ende]
              [Zeile5-Start] "team       .         " 300px [Zeile5-Ende]
              [Zeile6-Start] "offer      offer     " 50px  [Zeile6-Ende]
              [Zeile7-Start] "cafe       cafe      " 300px [Zeile7-Ende]
              [Zeile8-Start] "spirit     spirit    " 300px [Zeile8-Ende]
              [Zeile9-Start] "whitewater whitewater" 300px [Zeile9-Ende]
              / 1fr 1fr;


        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
       
        margin: $basicHeight $basicWidth;
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    .bento-grid-home {
        display: grid;
        grid: [Zeile1-Start] "title    title    contact"    300px [Zeile1-Ende]
              [Zeile2-Start] "room     picture  contact"    300px [Zeile2-Ende]
              [Zeile3-Start] "camping  picture  team"       300px [Zeile3-Ende]
              [Zeile4-Start] "offer    offer    offer"       50px [Zeile4-Ende]
              [Zeile5-Start] "cafe     spirit   whitewater" 300px [Zeile5-Ende]
              / 1fr 1fr 1fr;


        grid-row-gap: 2*$basicWidth;
        grid-column-gap: 2*$basicWidth;
       
        margin: $basicHeight $basicWidth;
    }

    
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
  
 }