@import "base/reset";
@import "base/specification";

@import "components/team";

@import "grids";

/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



/* ****************************************************** */
 /* ****************** für mobile  ********************** */

.wrapper{
    margin: 0 auto;
    max-width: $maxWidth;
}

header{
    margin: $basicHeight $basicWidth;
}
 
.bento-box{
    background-color: $bentoBoxBackgroundColor;
}

.bento-box-title-big{
    @include bentoBoxTitleBigFont();
    margin-bottom: $basicHeight;
}

.bento-box-title-small,.bento-box-title-small--first-box{
    @include bentoBoxTitleSmallFont();
    margin-bottom: $basicHeight;
}
.bento-box-title-small--first-box{
    text-align: center;
}

.bento-box-icon-wrapper{
    display: flex;
    justify-content: center;
    //margin-top: $basicHeight;
}
.bento-box-icon{
    //max-width: 35%;
}

footer{
    margin: $basicHeight $basicWidth;
}



 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .bento-box-title-big{
        font-size: 7.1vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 4.1vw;
    }
    .bento-box-title-small--first-box{
        text-align: left;
    }

    .bento-box-icon-wrapper{
        //margin-top: $basicHeight;
    }
    .bento-box-icon{
        //max-width: 30%;
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    .bento-box-title-big{
        font-size: 6.5vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.8vw;
        margin-bottom: 2*$basicHeight;
    }

    .bento-box-icon-wrapper{
        //margin-top: 2*$basicHeight;
    }
    .bento-box-icon{
        //max-width: 35%;
    }

   
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
    .bento-box-title-big{
        font-size: 5rem;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.1rem;
    }
 }