/**
 * External Components
 */
 @import "../node_modules/slick-carousel/slick/slick.scss";
 @import "../node_modules/slick-carousel/slick/slick-theme.scss";

@import "base/reset";
@import "base/specification";

@import "components/team";
@import "components/overlay";

@import "grids";

/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



/* ****************************************************** */
 /* ****************** für mobile  ********************** */

.wrapper{
    margin: 0 auto;
    max-width: $maxWidth;
}

header{
    margin: $basicHeight $basicWidth;
}

.bento-box-link{
    text-decoration: none;
}
 
.bento-box{
    background-color: $bentoBoxBackgroundColor;
}

.bento-box.spirit-bento-box,.bento-box.whitewater-bento-box{
    background-color: unset;
    width: 100%;
}


.bento-box-title-big{
    @include bentoBoxTitleBigFont();
    margin-bottom: $basicHeight;
}

.bento-box-title-small,.bento-box-title-small--first-box{
    @include bentoBoxTitleSmallFont();
    margin-bottom: $basicHeight;
}
.bento-box-title-small--first-box{
    text-align: center;
}

.bento-box-content{
    height: $bentoBoxContentHeight;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.bento-box-icon-wrapper{
    display: flex;
    justify-content: center;
  
}

.offer-bento-box-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    .offer-bento-box-title-big{
        @include bentoBoxTitleBigFont();
    }

    .offer-bento-box-title-small{
        @include bentoBoxTitleSmallFont();
        align-self: flex-end;
    }
}



.bento-box.picture-bento-box{
    background: url('/assets/images/schlucht.jpg') no-repeat top left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.picture-bento-box-wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.picture-bento-box-text{
    @include bentoBoxStandardFont();
    text-align: center;
    margin-bottom: 4*$basicHeight;
}


.bento-box-image-link{
    text-decoration: none;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.bento-box-image-link.whitewater-bento-box{
    background: url('/assets/images/kanuschule_440.jpg') no-repeat top left;
}

.bento-box-image-link.spirit-bento-box{
    background: url('/assets/images/spirituelleszentrum_440.jpg') no-repeat top left;
}

.bento-box-image-link-title-small{
    @include bentoBoxTitleSmallFont();
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}


footer{
    margin: $basicHeight $basicWidth;
}



 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .bento-box-title-big{
        font-size: 7.1vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 4.1vw;
    }
    .bento-box-title-small--first-box{
        text-align: left;
    }

    .offer-bento-box-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .offer-bento-box-title-big{
            font-size: 7.1vw;
        }
    
        .offer-bento-box-title-small{
            font-size: 4.1vw;
            margin-left: -6.3vw;
            padding-top: 6vw;
        }
    }

    .bento-box-image-link.whitewater-bento-box{
        background: url('/assets/images/kanuschule_1050.jpg') no-repeat top left;
    }

    .bento-box-image-link.spirit-bento-box{
        background: url('/assets/images/spirituelleszentrum_1050.jpg') no-repeat top left;
    }

    .bento-box-image-link-title-small{
        font-size: 3.7vw;
        background-color: rgba(255, 255, 255, 0.5);
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

    main{
        //background: rgb(237,201,85);
        background: radial-gradient(circle at 40% 40%, rgba(237,201,85,1) 0%, rgba(255,255,255,1) 58%);
    }

    .title-bento-box{    
        background: radial-gradient(circle at 57% 100%, #EDCA55 -15%, #000000 85%);
    }

    .room-bento-box {
        background: radial-gradient(circle at 100% 10%, #EDCA55 -30%, #000000 85%);
    }
    
    .bento-box-link.bento-box:hover{
        background-color: $bentoBoxBackgroundHoverColor;
        
        .bento-box-title-big,.bento-box-title-small{
            color: $bentoBoxBackgroundColor;
        }

        .bento-box-icon{
               g{
                g{
                    stroke: $bentoBoxBackgroundColor;
                }
               }
        }

        .picture-bento-box-icon{
            polygon{
                stroke: $bentoBoxBackgroundColor;
                fill: $standardTextColor;
                fill-opacity: 1;
                stroke-width: 0;
            }
            text{
                fill: $bentoBoxBackgroundColor;
            }
        }
        
    }

    .bento-box-link.bento-box.room-bento-box:hover{
        background: radial-gradient(circle at 100% 10%, #EDCA55 -30%, $bentoBoxBackgroundHoverColor 85%);
    }
    
    .bento-box-title-big{
        font-size: 6.5vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.8vw;
        margin-bottom: 2*$basicHeight;
    }

    .offer-bento-box-content{
        .offer-bento-box-title-big{
            font-size: 6.5vw;
        }
    
        .offer-bento-box-title-small{
            font-size: 2.8vw;
            margin-left: -6vw;
            padding-top: 68px;
        }
    }

    .bento-box-image-link.whitewater-bento-box{
        background: url('/assets/images/kanuschule_400.jpg') no-repeat top left;
    }

    .bento-box-image-link.spirit-bento-box{
        background: url('/assets/images/spirituelleszentrum_400.jpg') no-repeat top left;
    }

    .bento-box-image-link-title-small{
        font-size: 1.8rem;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .bento-box-image-link:hover{
      
        .bento-box-image-link-title-small{
            color: $standardTextColor;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

   
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
    .bento-box-title-big{
        font-size: 5rem;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.1rem;
    }

    .offer-bento-box-content{
        .offer-bento-box-title-big{
            font-size: 5rem;
        }
    
        .offer-bento-box-title-small{
            font-size: 2.6rem;
            margin-left: -74px;
            padding-top: 68px;
        }
    }

    .bento-box-image-link-title-small{
        font-size: 2.1rem;
        background-color: rgba(255, 255, 255, 0.5);
    }
 }