@import "base/reset";
@import "base/specification";

@import "components/team";

@import "grids";

/* Border Box Trick */
/* padding ist in der Box Breite miteingerechnet*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
/* Ende Border Box Trick*/



/* ****************************************************** */
 /* ****************** für mobile  ********************** */

.wrapper{
    margin: 0 auto;
    max-width: $maxWidth;
}

header{
    margin: $basicHeight $basicWidth;
}

.bento-box-link{
    text-decoration: none;
    background-color: $bentoBoxBackgroundColor;
}
 
.bento-box{
    background-color: $bentoBoxBackgroundColor;
}

.bento-box-title-big{
    @include bentoBoxTitleBigFont();
    margin-bottom: $basicHeight;
}

.bento-box-title-small,.bento-box-title-small--first-box{
    @include bentoBoxTitleSmallFont();
    margin-bottom: $basicHeight;
}
.bento-box-title-small--first-box{
    text-align: center;
}

.bento-box-content{
    height: $bentoBoxContentHeight;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.bento-box-icon-wrapper{
    display: flex;
    justify-content: center;
    //margin-top: $basicHeight;
}
.bento-box-icon{
    //max-width: 35%;
}

.offer-bento-box-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    .offer-bento-box-title-big{
        @include bentoBoxTitleBigFont();
    }

    .offer-bento-box-title-small{
        @include bentoBoxTitleSmallFont();
        align-self: flex-end;
    }
}

footer{
    margin: $basicHeight $basicWidth;
}



 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    .bento-box-title-big{
        font-size: 7.1vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 4.1vw;
    }
    .bento-box-title-small--first-box{
        text-align: left;
    }

    .bento-box-icon-wrapper{
        //margin-top: $basicHeight;
    }
    .bento-box-icon{
        //max-width: 30%;
    }

    .offer-bento-box-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .offer-bento-box-title-big{
            font-size: 7.1vw;
        }
    
        .offer-bento-box-title-small{
            font-size: 4.1vw;
            margin-left: -6.3vw;
            padding-top: 6vw;
        }
    }
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    
    .bento-box-link:hover{
        background-color: $bentoBoxBackgroundHoverColor;
        ;
        .bento-box{
            background-color: $bentoBoxBackgroundHoverColor;
        }
        
        .bento-box-title-big,.bento-box-title-small{
            color: $bentoBoxBackgroundColor;
        }

        .bento-box-icon{
               g{
                g{
                    stroke: $bentoBoxBackgroundColor;
                }
               }
        }
    }
    
    .bento-box-title-big{
        font-size: 6.5vw;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.8vw;
        margin-bottom: 2*$basicHeight;
    }

    .bento-box-icon-wrapper{
        //margin-top: 2*$basicHeight;
    }
    .bento-box-icon{
        //max-width: 35%;
    }

    .offer-bento-box-content{
        .offer-bento-box-title-big{
            font-size: 6.5vw;
        }
    
        .offer-bento-box-title-small{
            font-size: 2.8vw;
            margin-left: -6vw;
            padding-top: 68px;
        }
    }

   
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
    .bento-box-title-big{
        font-size: 5rem;
    }
    
    .bento-box-title-small,.bento-box-title-small--first-box{
        font-size: 2.1rem;
    }

    .offer-bento-box-content{
        .offer-bento-box-title-big{
            font-size: 5rem;
        }
    
        .offer-bento-box-title-small{
            font-size: 2.6rem;
            margin-left: -74px;
            padding-top: 68px;
        }
    }
 }