/* ****************************************************** */
/* ****************** für mobile  ********************** */

.prices-bento-grid-page, .text1-bento-grid-page, .text2-bento-grid-page, .text3-bento-grid-page{
    padding: $basicHeight $basicWidth;
}

.title-wrapper{
    display: flex;
    flex-flow: row nowrap;
}

.title-wrapper + .bento-box-text{
    padding: $basicHeight $basicWidth;
}

.page-title{
    flex: 0 1 90%;
}

.page-close-button-wrapper{
    flex: 0 1 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-close-button{
    font-family: $standardFontFamily;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 3*$textSize;
    color: rgb(255,255,255);
}

.price-table-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center
}

.price-table{
    @include bentoBoxStandardFont();
    margin-bottom: 3*$basicHeight;

    tr{
        padding-bottom: $basicHeight;
        line-height: 1.7rem;
    }

    td:first-of-type {
        padding-right: 2*$basicWidth;
    }

    td:last-of-type {
        text-align: end;
    }
}

.bento-box.picture-bento-grid-page{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.bento-box.picture-bento-grid-page.camping{
    background: url('/assets/images/camping.webp') no-repeat top left;
}

.bento-box.picture-bento-grid-page.zimmer{
    background: url('/assets/images/zimmer1.webp') no-repeat top left;
}


.bento-box.bento-box-camping{
    background-color: $bentoBoxBackgroundColorSubsideCamping;
    color: $bentoBoxTextColorSubsideCamping;
    .page-close-button {
        color: $bentoBoxTextColorSubsideCamping;
    }
}

.bento-box.bento-box-zimmer{
    background-color: $bentoBoxBackgroundColorSubsideRoom;
    color: $bentoBoxTextColorSubsideRoom;
    .page-close-button {
        color: $bentoBoxTextColorSubsideRoom;
    }
}


 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
    
    .price-table{
        td:first-of-type {
            padding-right: $basicWidth;
        }
    } 
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...

    main.main-camping{
        background: radial-gradient(circle at 40% 40%, $bentoBoxBackgroundColorSubsideCamping 0%, rgba(255,255,255,1) 58%);
    }

    main.main-zimmer{
        background: radial-gradient(circle at 40% 40%, $bentoBoxBackgroundColorSubsideRoom 0%, rgba(255,255,255,1) 58%);
    }

    .bento-box.bento-box-zimmer{
        .page-close-button:hover {
            color: $bentoBoxBackgroundColorSubsideRoom;
            background-color: $bentoBoxTextColorSubsideRoom;
        }
    }

    .bento-box.bento-box-camping{
        .page-close-button:hover {
            color: $bentoBoxBackgroundColorSubsideCamping;
            background-color: $bentoBoxTextColorSubsideCamping;
        }
    }

    .price-table{
        td:first-of-type {
            padding-right: 3*$basicWidth;
        }
    } 
 }
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
  

 }