/* ****************************************************** */
/* ****************** für mobile  ********************** */
.team-item-wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin-left: $basicWidth;
}

.team-item-summary{
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: $basicHeight;
}

.team-item:not(:last-of-type){
    margin-bottom: 3*$basicHeight;
}

.team-item--karoline,.team-item--joe{
    .team-item-details{
        opacity: 0;
        height: 0;
        pointer-events: none;
    }
}

.team-item--karoline:active,.team-item--joe:active{
        
    .team-item-summary{
       display: none;
    }

    .team-item-details{
        display: block;
        opacity: 1;
        height: auto;
        transition: opacity 0.5s ease-in-out;
        padding: 0 $basicWidth;
      
        .team-item-text{
            @include teamMemberTextFont();
            height: 110px;
        }
    }
}


.team-item-picture{
    margin-right: $basicWidth
}

.team-item-name{
    margin-top: $basicHeight;
    @include teamMemberNameFont();
}

   

 /* **************************************************** */
 /* ********* ab hier für mobile querformat ************ */
 @media screen and (min-width: $breakpoint-medium) {    // wenn Bildschirm grösser als, dann...
   
 }
 
 
 /* *************************************************** */
 /* *********** ab hier für desktop ******************* */
 @media screen and (min-width: $breakpoint-large) {    // wenn Bildschirm grösser als, dann...
    .team-item:not(:last-of-type){
        margin-bottom: 2*$basicHeight;
    }

    .team-item--karoline:hover,.team-item--joe:hover,.team-item--karoline:active{
        
        .team-item-summary{
           display: none;
        }

        .team-item-details{
            display: block;
            opacity: 1;
            height: auto;
            transition: opacity 0.5s ease-in-out;
            padding: 0 $basicWidth;
          
            .team-item-text{
                @include teamMemberTextFont();
                height: 110px;
            }
        }
    }
 }
 
 
 
 /* *************************************************** */
 /* ****** ab hier für desktop maximale Breite ******** */
 @media screen and (min-width: $maxWidth) {    // wenn Bildschirm die maximale Breite erreicht hat
  
 }